body{
    font-family: 'Public Sans', sans-serif;

}
.container{
    /* background-color: red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.centralization{
    /* background-color: aqua; */
    width: 100%;
}
.images{
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 0px 20px;

}
.card{
    border: 1px solid lightgreen;
    /* background-color: blue; */
    flex-grow: 1;
    flex-basis: var(--image-width);
    min-height: var(--image-height);
    padding-left: 20px;
    padding-bottom: 43px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: #ffffff;
    background-size:  cover;
    background-repeat: no-repeat;

    
}
.card .title{
    font-size: var(--title-size);
    font-weight: 700;
}
.card .artist{
    font-size: var(--text-size);
    font-weight: 300;
}
.card:nth-child(1){
    background-image: url(../imagens/rome.png);
    background-size: cover;
}
.card:nth-child(2){
    background-image: url(../imagens/boat.png);
    
}
.card:nth-child(3){
    background-image: url(../imagens/sand-and-sea.png);
}
.card:nth-child(4){
    background-image: url(../imagens/starry-night.png);
}